<?xml version="1.0"?>

<model>
  <name>HW11</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Vinicio De Sola</name>
    <email>vinicio.desola@ischool.berkeley.edu</email>
  </author>

  <description>
    Six legged robot called hexapod plus a simple gripper on top
  </description>
</model>
